$base-font: 1.8rem/2.2rem map-get($font-families, primary);

$white: #fff;
$black: #3f4646;
$light-green: #76c7c0;
$green: #62a29e;
$dark-green: #528b86;
$red: #e8645a;
$dark-red: #e2534b;
$light-gray: #f3f3f3;
$gray: #777;
$dark-gray: #7f8c8c;
