header.header
  .header__holder
    h1.main-logo
      a(href="#") MODUS
        span versus
    button.btn.search-form-opener.search-form-opener--closing
      span.front(data-icon-left='icon-search')
      span.back(data-icon-left='icon-cross')
    form.search-form(action='#')
        fieldset
          input.form-control(type='text')
          button.btn.search-form__btn(type='submit' data-icon-left='icon-search')
    button.nav-opener
    nav.nav
      ul.nav__list
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Services
        li.has-drop
          a(href="#") Portfolio
          ul.nav__drop
            li
              a(href="#") Portfolio 2 column page
            li
              a(href="#") Portfolio 2 column page
            li
              a(href="#") Portfolio 2 column page
        li
          a(href="#") Blog
        li
          a(href="#") Features
        li
          a(href="#") Contacts