*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: $base-color;
  background: $base-bg;
  font: $base-font;
  min-width: 320px;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.wrap {
  padding: 40px 0;

  @include media-breakpoint-up(lg) {
    padding: 80px 0;
  }
}