$base-font: 15px/24px 'Open Sans', sans-serif;

$white: #fff;
$black: #102c3a;
$dark-blue: #193a4a;
$blue: #0374ea;
$red: #ef4d41;
$light-red: #ff3d42;
$gray: #c0c0c0;


$base-color: $black;
$base-bg: $white;

$link-color: $dark-blue;
$link-color-hover: $blue;